<div class="card-country">
    <h2 class="card-name">название:{{ name.official }}</h2>
    <p class="card-capital">столица: {{ capital }}</p>
    <p class="card-population">население: {{ population }}</p>
    <p class="card-flag">флаг: {{ flags.svg }}</p>
    <p class="card-languages">язык: {{ languages }}</p>
</div>


{{!-- <div class="card">
    <div class="card-img-top">
        <img src="{{sprites.front_default}}" alt="{{name}}">
    </div>
    <div class="card-body">
        <h2 class="card-title">имя: {{name}}</h2>
        <p class="card-text">вес: {{weight}}</p>
        <p class="card-text">рост: {{height}}</p>
        <p class="card-text">умения</p>
        <ul class="list-group"></ul>
        {{#each abilities}}
        <li class="list-group-item">{{ability.name}}</li>
        {{/each}}
        </ul>
    </div>
</div> --}}